nav#mainMenu a {
  text-decoration: none;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fcfcfc; }

nav#mainMenu li {
  list-style: none; }

nav#mainMenu {
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
  background-color: #993399; }

nav#mainMenu > div#mainNav > ul {
  width: 100%;
  overflow: hidden; }

nav#mainMenu > div#mainNav > ul > li {
  width: 20%;
  display: block;
  float: left; }

nav#mainMenu > div#mainNav > ul > li.active > a {
  text-decoration: underline; }

nav#mainMenu > div#mainNav > ul > li.current_page_ancestor > a {
  text-decoration: underline; }

nav#mainMenu > div#mainNav > ul > li.active.crisisNav > a {
  text-decoration: underline; }

nav#mainMenu > div#mainNav > ul > li.current_page_ancestor.crisisNav > a {
  text-decoration: underline; }

nav#mainMenu > div#mainNav > ul > li.active.crisisNav > a:hover {
  color: white;
  background: #ff9933; }

nav#mainMenu > div#mainNav > ul > li.current_page_ancestor.crisisNav > a:hover {
  color: white;
  background: #ff9933; }

nav#mainMenu > div#mainNav > ul > .crisisNav > a {
  color: #ff9933; }

nav#mainMenu > div#mainNav > ul > .crisisNav > a:hover {
  color: white;
  background-color: #ff9933; }

nav#mainMenu > div#mainNav > ul > li > a {
  position: relative;
  display: block;
  z-index: 510;
  height: 50px;
  padding: 0 15%;
  line-height: 50px;
  background-color: #993399;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }

nav#mainMenu > div#mainNav > ul > li:hover > a {
  color: white;
  background: #ff9933; }

nav#mainMenu > div#mainNav > ul > li > div {
  position: absolute;
  display: block;
  width: 95%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #E6E6E6;
  border-radius: 0 0 3px 3px;
  padding: 3% 2.5%;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s; }

nav#mainMenu > div#mainNav > ul > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible; }

nav#mainMenu .navInfoColumn {
  clear: both;
  float: left;
  width: 25%;
  padding-right: 2.5%;
  margin-right: 2.5%;
  border-right: 1px solid #cccccc; }

nav#mainMenu .navInfoColumn h1 {
  width: 100%;
  text-align: right;
  line-height: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #993399;
  text-transform: uppercase; }

nav#mainMenu .navInfoColumn li a {
  width: 100%;
  text-align: right;
  display: block;
  line-height: 26px;
  font-weight: bold;
  font-size: 13px;
  color: #383838; }

nav#mainMenu .navInfoColumn li a:hover {
  color: #ff9933; }

nav#mainMenu .navLinksColumn {
  vertical-align: top;
  width: 90%;
  display: block; }

nav#mainMenu .navLinksColumn p {
  margin-top: 20px; }

#searchContainer {
  display: inline-block;
  padding: 7px 10px 2px 10px;
  background-color: #993399;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

input.searchBox {
  vertical-align: top;
  border-radius: 2px;
  border: none;
  height: 25px; }

div.loginLinks {
  display: inline-block;
  vertical-align: top;
  padding: 10px; }

div.loginLinks a {
  color: #993399;
  text-decoration: none;
  padding: 3px; }

div#socialBar {
  float: right;
  vertical-align: top;
  margin-right: 10%; }

img.logo {
  margin: 10px 0px 20px 0px;
  float: left; }

div#slogan {
  width: 300px;
  clear: right;
  float: right;
  margin-right: 15%;
  padding: 15px 0px;
  overflow: hidden; }

div#slogan h1 {
  color: #CC99CC;
  font-size: 25px;
  margin: 0; }

h1.slogan2 {
  position: relative;
  left: 100px; }

header {
  width: 100%;
  background-color: #F5F5F5; }

nav#sideMenu li {
  list-style: none; }

nav#sideMenu {
  display: inline-block;
  background-color: white;
  color: black;
  vertical-align: top;
  width: 20%;
  padding: 2.5% 1% 2.5% 1%;
  margin: 2.5% 1% 2.5% 1%;
  overflow: hidden;
  height: 100%;
  border-right: 1px solid #F5F5F5; }

nav#sideMenu > div > ul > li > a {
  font-size: 30px;
  color: #383838;
  pointer-events: none;
  cursor: default;
  padding-bottom: 5px;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 20px; }

nav#sideMenu > div > ul > li > ul > li {
  margin-top: 30px; }

nav#sideMenu > div > ul > li > ul > li > a {
  pointer-events: none;
  cursor: default;
  text-transform: uppercase;
  color: #993399; }

nav#sideMenu > div > ul > li > ul > li > ul > li {
  margin-left: 20px;
  list-style-type: none;
  margin-top: 10px; }

nav#sideMenu > div ul li a {
  text-decoration: none;
  font-weight: bold; }

nav#sideMenu > div > ul > li > ul > li > ul > li.current-menu-item a {
  color: #ff9933; }

nav#sideMenu > div > ul > li.current-menu-item > a {
  color: #ff9933; }

/*# sourceMappingURL=navigation.css.map */
